Repository HI-dle/table-eat-now, pull requests merged in 2025-04, with the labels that each got.

#17 [payment, review] 모듈 추가 및 dependency 설정
  payment/build.gradle
  payment/gradle/wrapper/gradle-wrapper.jar
  payment/gradle/wrapper/gradle-wrapper.properties
  payment/src/main/java/table/eat/now/payment/PaymentApplication.java
  payment/src/main/resources/application.properties
  payment/src/test/java/table/eat/now/payment/PaymentApplicationTests.java
  review/build.gradle
  review/gradle/wrapper/gradle-wrapper.jar
  review/gradle/wrapper/gradle-wrapper.properties
  review/src/main/java/table/eat/now/review/ReviewApplication.java
  review/src/main/resources/application.properties
  review/src/test/java/table/eat/now/review/ReviewApplicationTests.java
  settings.gradle
Labels: ⚙️ setting

#32 [setting] db 설정 및 docker-compose.yml 수정
  docker-compose.yml
  init.sql
  payment/src/main/java/table/eat/now/payment/PaymentApplication.java
  payment/src/main/resources/application.properties
  payment/src/main/resources/application.yml
  review/src/main/java/table/eat/now/review/ReviewApplication.java
  review/src/main/resources/application.properties
  review/src/main/resources/application.yml
  server/src/main/resources/prometheus.yml
Labels: ⚙️ setting

#33 [common] AutoConfig 추가
  common/src/main/java/table/eat/now/common/CommonApplication.java
  common/src/main/java/table/eat/now/common/config/AutoConfig.java
  common/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: ✨ feat, ⚙️ setting

#35 [coupon, waiting] 쿠폰, 대기 모듈 세팅
  .gitignore
  coupon/build.gradle
  coupon/src/main/java/table/eat/now/coupon/CouponApplication.java
  coupon/src/main/resources/application.yml
  coupon/src/main/resources/properties/base.yml
  coupon/src/main/resources/properties/cloud.yml
  coupon/src/main/resources/properties/config.yml
  coupon/src/main/resources/properties/datasource.yml
  coupon/src/main/resources/properties/jpa.yml
  coupon/src/main/resources/properties/redis.yml
  coupon/src/main/resources/properties/zipkin.yml
  coupon/src/test/java/table/eat/now/coupon/CouponApplicationTests.java
  docker-compose.yml
  settings.gradle
  waiting/build.gradle
  waiting/src/main/java/table/eat/now/waiting/WaitingApplication.java
  waiting/src/main/resources/application.yml
  waiting/src/test/java/table/eat/now/waiting/WaitingApplicationTests.java
Labels: ⚙️ setting

#37 [common] 기본 공통코드 추가
  common/build.gradle
  common/src/main/java/table/eat/now/common/aop/AuthCheckAspect.java
  common/src/main/java/table/eat/now/common/aop/annotation/AuthCheck.java
  common/src/main/java/table/eat/now/common/config/JpaAuditingConfig.java
  common/src/main/java/table/eat/now/common/config/WebConfig.java
  common/src/main/java/table/eat/now/common/constant/UserInfoConstant.java
  common/src/main/java/table/eat/now/common/domain/AuditorAwareImpl.java
  common/src/main/java/table/eat/now/common/domain/BaseEntity.java
  common/src/main/java/table/eat/now/common/domain/HistoryBaseEntity.java
  common/src/main/java/table/eat/now/common/exception/CustomException.java
  common/src/main/java/table/eat/now/common/exception/ErrorResponse.java
  common/src/main/java/table/eat/now/common/exception/GlobalErrorHandler.java
  common/src/main/java/table/eat/now/common/exception/type/ApiErrorCode.java
  common/src/main/java/table/eat/now/common/exception/type/ErrorCode.java
  common/src/main/java/table/eat/now/common/resolver/CurrentUserInfoResolver.java
  common/src/main/java/table/eat/now/common/resolver/CustomPageableArgumentResolver.java
  common/src/main/java/table/eat/now/common/resolver/annotation/CurrentUserInfo.java
  common/src/main/java/table/eat/now/common/resolver/dto/CurrentUserInfoDto.java
  common/src/main/java/table/eat/now/common/resolver/dto/UserRole.java
  common/src/main/resources/application.properties
Labels: ✨ feat

#42 [config] sonarqube, jacoco 세팅
  .github/workflows/build.yml
  build.gradle
  common/src/test/java/table/eat/now/common/CommonApplicationTests.java
  config/src/test/java/table/eat/now/config/ConfigApplicationTests.java
  coupon/src/main/resources/application.yml
  coupon/src/test/java/table/eat/now/coupon/CouponApplicationTests.java
  gateway/src/test/java/table/eat/now/gateway/GatewayApplicationTests.java
  payment/src/main/java/table/eat/now/payment/PaymentApplication.java
  payment/src/test/java/table/eat/now/payment/PaymentApplicationTests.java
  review/src/test/java/table/eat/now/review/ReviewApplicationTests.java
  server/src/test/java/table/eat/now/server/ServerApplicationTests.java
  user/src/test/java/table/eat/now/user/UserApplicationTests.java
Labels: ⚙️ setting

#40 [gateway] 게이트웨이 설정 추가
  gateway/build.gradle
  gateway/src/main/java/table/eat/now/gateway/filter/JwtAuthenticationFilter.java
  gateway/src/main/java/table/eat/now/gateway/util/JwtResolver.java
  gateway/src/main/resources/application.yml
Labels: ✨ feat

#43 [promotion, notiifcation] 의존성, application.yml 기초 설정
  notification/build.gradle
  notification/src/main/resources/application.yml
  promotion/build.gradle
  promotion/src/main/resources/application.yml
  user/src/main/java/table/eat/now/user/application/UserServiceImpl.java
  user/src/main/java/table/eat/now/user/application/dto/request/CreateUserCommand.java
  user/src/main/java/table/eat/now/user/application/security/CustomUserDetailsService.java
  user/src/main/java/table/eat/now/user/application/security/dto/CustomUserDetails.java
  user/src/main/java/table/eat/now/user/presentation/security/filter/JwtAuthenticationFilter.java
  user/src/main/java/table/eat/now/user/presentation/security/jwt/TokenProvider.java
Labels: ⚙️ setting

#46 [coupon] 쿠폰 생성 기능 구현
  coupon/build.gradle
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/request/CreateCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/exception/CouponErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponService.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/CouponType.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/DiscountPolicy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/repository/CouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/JpaCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/CreateCouponRequest.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/helper/DatabaseCleanUp.java
  coupon/src/test/java/table/eat/now/coupon/helper/RedisTestContainerExtension.java
Labels: ✨ feat

#53 [coupon] 쿠폰 단건 조회/ 삭제 기능 구현
  build.gradle
  common/src/main/java/table/eat/now/common/exception/GlobalErrorHandler.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponService.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/CreateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/UpdateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponResponse.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
Labels: ✨ feat, ✅ test

#54 Feat/#27 notification create 구현 및 테스트
  notification/src/main/java/table/eat/now/notification/application/dto/request/CreateNotificationCommand.java
  notification/src/main/java/table/eat/now/notification/application/dto/response/CreateNotificationInfo.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationService.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationServiceImpl.java
  notification/src/main/java/table/eat/now/notification/domain/entity/Notification.java
  notification/src/main/java/table/eat/now/notification/domain/entity/NotificationMethod.java
  notification/src/main/java/table/eat/now/notification/domain/entity/NotificationStatus.java
  notification/src/main/java/table/eat/now/notification/domain/entity/NotificationType.java
  notification/src/main/java/table/eat/now/notification/domain/repository/NotificationRepository.java
  notification/src/main/java/table/eat/now/notification/infrastructure/persistence/JpaNotificationRepository.java
  notification/src/main/java/table/eat/now/notification/presentation/NotificationAdminController.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/request/CreateNotificationRequest.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/response/CreateNotificationResponse.java
  notification/src/main/resources/application-test.yml
  notification/src/main/resources/application.properties
  notification/src/test/java/table/eat/now/notification/application/http/notification.http
  notification/src/test/java/table/eat/now/notification/application/service/NotificationServiceImplTest.java
  notification/src/test/java/table/eat/now/notification/presentation/NotificationAdminControllerTest.java
Labels: ✨ feat, ✅ test

#62 [review] 리뷰 생성 기능 구현
  payment/gradle/wrapper/gradle-wrapper.jar
  payment/gradle/wrapper/gradle-wrapper.properties
  review/build.gradle
  review/gradle/wrapper/gradle-wrapper.jar
  review/gradle/wrapper/gradle-wrapper.properties
  review/src/main/java/table/eat/now/review/application/client/ReservationClient.java
  review/src/main/java/table/eat/now/review/application/client/WaitingClient.java
  review/src/main/java/table/eat/now/review/application/service/ReviewService.java
  review/src/main/java/table/eat/now/review/application/service/ReviewServiceImpl.java
  review/src/main/java/table/eat/now/review/application/service/dto/exception/ReviewErrorCode.java
  review/src/main/java/table/eat/now/review/application/service/dto/request/CreateReviewCommand.java
  review/src/main/java/table/eat/now/review/application/service/dto/response/CreateReviewInfo.java
  review/src/main/java/table/eat/now/review/application/service/dto/response/GetServiceInfo.java
  review/src/main/java/table/eat/now/review/domain/entity/Review.java
  review/src/main/java/table/eat/now/review/domain/entity/ReviewContent.java
  review/src/main/java/table/eat/now/review/domain/entity/ReviewReference.java
  review/src/main/java/table/eat/now/review/domain/entity/ReviewVisibility.java
  review/src/main/java/table/eat/now/review/domain/entity/ServiceType.java
  review/src/main/java/table/eat/now/review/domain/repository/ReviewRepository.java
  review/src/main/java/table/eat/now/review/infrastructure/client/feign/DummyReservationClientImpl.java
  review/src/main/java/table/eat/now/review/infrastructure/client/feign/DummyWaitingClientImpl.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/JpaReviewRepository.java
  review/src/main/java/table/eat/now/review/presentation/ReviewController.java
  review/src/main/java/table/eat/now/review/presentation/dto/request/CreateReviewRequest.java
  review/src/main/java/table/eat/now/review/presentation/dto/response/CreateReviewResponse.java
  review/src/main/resources/application-test.yml
  review/src/main/resources/application.yml
  review/src/test/java/table/eat/now/review/application/service/ReviewServiceImplTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewContentTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewReferenceTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewVisibilityTest.java
  review/src/test/java/table/eat/now/review/presentation/ReviewControllerTest.java
  review/src/test/review.http
Labels: ✨ feat, ✅ test

#68 [coupon] 쿠폰 단건, 다건 내부 조회 기능 구현
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponsInfoI.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponService.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/criteria/CouponCriteria.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/repository/CouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/CouponRepositoryCustomImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/JpaCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponInternalController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponsResponseI.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/fixture/CouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponInternalControllerTest.java
Labels: ✨ feat, ✅ test

#75 [restaurant] 단건 생성
  restaurant/build.gradle
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantService.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/request/CreateRestaurantCommand.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/response/CreateRestaurantInfo.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/Restaurant.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/vo/OperatingTime.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/repository/RestaurantRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/RestaurantAdminController.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/request/CreateRestaurantRequest.java
  restaurant/src/test/http/restaurant.http
  restaurant/src/test/java/table/eat/now/restaurant/global/ControllerTestSupport.java
  restaurant/src/test/java/table/eat/now/restaurant/global/IntegrationTestSupport.java
  restaurant/src/test/java/table/eat/now/restaurant/global/config/TearDownExecutor.java
  restaurant/src/test/java/table/eat/now/restaurant/global/fixture/RestaurantFixture.java
  restaurant/src/test/java/table/eat/now/restaurant/global/util/UuidMaker.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceTest.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/presentation/RestaurantAdminControllerTest.java
Labels: ✨ feat, ✅ test

#78 [review] 리뷰 수정 기능 구현
  common/src/main/java/table/eat/now/common/exception/GlobalErrorHandler.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/GetCheckoutDetailResponse.java
  review/src/main/java/table/eat/now/review/application/exception/ReviewErrorCode.java
  review/src/main/java/table/eat/now/review/application/service/ReviewService.java
  review/src/main/java/table/eat/now/review/application/service/ReviewServiceImpl.java
  review/src/main/java/table/eat/now/review/application/service/dto/request/UpdateReviewCommand.java
  review/src/main/java/table/eat/now/review/domain/entity/Review.java
  review/src/main/java/table/eat/now/review/domain/entity/ReviewContent.java
  review/src/main/java/table/eat/now/review/domain/entity/ReviewVisibility.java
  review/src/main/java/table/eat/now/review/domain/entity/UpdateContent.java
  review/src/main/java/table/eat/now/review/presentation/ReviewController.java
  review/src/main/java/table/eat/now/review/presentation/dto/request/UpdateReviewRequest.java
  review/src/test/java/table/eat/now/review/application/service/ReviewServiceImplTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewTest.java
  review/src/test/java/table/eat/now/review/presentation/ReviewControllerTest.java
  review/src/test/review.http
Labels: ✨ feat, ✅ test

#83 [coupon] 사용자 쿠폰 발급 기능 추가
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/event/IssueUserCouponEvent.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/exception/CouponErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/scheduler/CouponScheduler.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponService.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/CouponIssueStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateWithStockStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/WithStockStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/usecase/PrepareCouponIssuanceUsecase.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/repository/CouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/CouponRepositoryImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/JpaCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/redis/RedisCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/redis/RedisCouponRepositoryImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/redis/config/RedisConfig.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponApiController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponInternalController.java
  coupon/src/main/resources/properties/redis.yml
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/scheduler/CouponSchedulerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateWithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/WithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/usecase/PrepareCouponIssuanceUsecaseTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/fixture/CouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponApiControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponInternalControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/helper/ControllerTestSupport.java
  coupon/src/test/java/table/eat/now/coupon/helper/IntegrationTestSupport.java
  coupon/src/test/java/table/eat/now/coupon/helper/RedisTestContainerExtension.java
Labels: ✨ feat, ✅ test

#87 [coupon] 가용 쿠폰 목록 조회 기능 구현
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/AvailableCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/PageResponse.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponService.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/CouponIssueStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateWithStockStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/WithStockStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/repository/CouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/CouponRepositoryImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/CouponRepositoryCustom.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/CouponRepositoryCustomImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponApiController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/AvailableCouponsResponse.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateWithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/WithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/fixture/CouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponApiControllerTest.java
  docker-compose.yml
Labels: ✨ feat, ✅ test

#92 [review] 리뷰 삭제 기능 구현 및 테스트
  review/src/main/java/table/eat/now/review/application/service/ReviewService.java
  review/src/main/java/table/eat/now/review/application/service/ReviewServiceImpl.java
  review/src/main/java/table/eat/now/review/domain/entity/Review.java
  review/src/main/java/table/eat/now/review/presentation/ReviewController.java
  review/src/test/java/table/eat/now/review/application/service/ReviewServiceImplTest.java
  review/src/test/java/table/eat/now/review/domain/entity/ReviewTest.java
  review/src/test/java/table/eat/now/review/presentation/ReviewControllerTest.java
  review/src/test/review.http
Labels: ✨ feat, ✅ test

#95 [coupon] 사용자 쿠폰 발행 이벤트 수신 및 사용자 쿠폰 생성 로직 추가
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/event/IssueUserCouponEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/request/IssueUserCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/exception/UserCouponErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/UserCouponEventListener.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/config/AsyncConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCoupon.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCouponStatus.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jpa/JpaUserCouponRepository.java
  coupon/src/main/resources/application.yml
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/listener/UserCouponEventListenerTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
Labels: ✨ feat, ✅ test

#99 [coupon] 사용자 쿠폰 선점 기능 및 선점 해제 스케쥴러 추가
  common/src/main/java/table/eat/now/common/exception/CustomException.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/scheduler/config/SchedulingConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/request/PreemptUserCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/config/AsyncConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/config/AsyncEventListenerExceptionHandler.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/scheduler/UserCouponScheduler.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/usecase/ReleaseUserCouponUsecase.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCoupon.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/exception/UserCouponDomainErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/exception/UserCouponException.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jpa/JpaUserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalController.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/dto/request/PreemptUserCouponRequest.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/usecase/PrepareCouponIssuanceUsecaseTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/scheduler/UserCouponSchedulerTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/usecase/ReleaseUserCouponUsecaseTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/fixture/UserCouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalControllerTest.java
Labels: ✨ feat, ✅ test

#108 [payment] 결제 생성 구현
  payment/src/main/java/table/eat/now/payment/PaymentApplication.java
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentService.java
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentServiceImpl.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/ReservationClient.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/request/CreatePaymentCommand.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/response/CreatePaymentInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/response/GetReservationInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/exception/PaymentErrorCode.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/Payment.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentAmount.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentIdentifier.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentReference.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentStatus.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/PaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/DummyReservationClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/ReservationClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/config/FeignConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/GetReservationResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/feign/ReservationFeignClient.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/JpaPaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/config/QuerydslConfig.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentInternalController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentViewController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/request/CreatePaymentRequest.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/CreatePaymentResponse.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/GetCheckoutDetailResponse.java
  payment/src/main/resources/templates/checkout.html
  payment/src/test/http/internal.http
  payment/src/test/java/table/eat/now/payment/payment/application/PaymentServiceImplTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentAmountTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentIdentifierTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentReferenceTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentTest.java
  payment/src/test/java/table/eat/now/payment/payment/presentation/PaymentInternalControllerTest.java
Labels: ✨ feat, ✅ test

#100 [reservation] 단건 생성
  reservation/build.gradle
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/CouponClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/PaymentClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/PromotionClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/RestaurantClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/request/CreatePaymentCommand.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/request/GetPromotionsCriteria.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/response/CreatePaymentInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/response/GetCouponsInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/response/GetPromotionsInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/response/ModifyRestaurantCurTotalGuestCountInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/exception/ReservationErrorCode.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationService.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationServiceImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/discount/CouponDiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/discount/DiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/discount/DiscountStrategyFactory.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/discount/PromotionDiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/dto/request/CreateReservationCommand.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/dto/response/CreateReservationInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/dto/response/GetRestaurantInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/Reservation.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/ReservationPaymentDetail.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/json/RestaurantDetails.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/json/RestaurantMenuDetails.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/json/RestaurantTimeSlotDetails.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/repository/ReservationRepository.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/CouponClientImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/PaymentClientImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/PromotionClientImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/RestaurantClientImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/CouponFeignClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/PaymentFeignClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/PromotionFeignClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/RestaurantFeignClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/request/CreatePaymentRequest.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/request/GetPromotionsRequest.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/response/CreatePaymentResponse.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/response/GetCouponsResponse.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/response/GetPromotionsResponse.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/response/GetRestaurantResponse.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/response/ModifyRestaurantCurTotalGuestCountResponse.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/config/FeignClientConfig.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/persistence/JpaReservationRepository.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/persistence/ReservationRepositoryImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/ReservationController.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/dto/request/CreateReservationRequest.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/dto/response/CreateReservationResponse.java
  reservation/src/test/http/reservation.http
  reservation/src/test/java/table/eat/now/reservation/global/ControllerTestSupport.java
  reservation/src/test/java/table/eat/now/reservation/global/IntegrationTestSupport.java
  reservation/src/test/java/table/eat/now/reservation/global/config/TearDownExecutor.java
  reservation/src/test/java/table/eat/now/reservation/global/fixture/ReservationFixture.java
  reservation/src/test/java/table/eat/now/reservation/global/util/UuidMaker.java
  reservation/src/test/java/table/eat/now/reservation/reservation/application/service/ReservationServiceTest.java
  reservation/src/test/java/table/eat/now/reservation/reservation/presentation/ReservationControllerTest.java
Labels: ✨ feat, ✅ test

#110 [coupon] 사용자별 쿠폰 목록 조회 기능 구현
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/redis/config/RedisConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/response/GetUserCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/response/PageResponse.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/UserCouponEventListener.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/listener/config/AsyncConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCoupon.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCouponStatus.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/UserCouponApiController.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/dto/response/GetUserCouponsResponse.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/usecase/ReleaseUserCouponUsecaseTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/fixture/UserCouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/presentation/UserCouponApiControllerTest.java
Labels: ✨ feat, ✅ test

#116 [waiting] 대기 요청 입장 처리 기능 구현
  build.gradle
  common/src/main/java/table/eat/now/common/resolver/dto/UserRole.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/client/RestaurantClient.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/request/EnterWaitingRequestCommand.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/GetRestaurantInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/exception/WaitingRequestErrorCode.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestService.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/repository/WaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/RestaurantClientImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/dto/response/GetRestaurantResponse.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/feign/RestaurantFeignClient.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/feign/config/FeignConfig.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/feign/config/InternalFeignConfig.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/WaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/jpa/JpaWaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/request/EnterWaitingRequestRequest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminControllerTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ✅ test

#118 [waiting] 대기요청 단건 조회 api/admin 기능 구현
  .github/workflows/build.yml
  common/src/main/java/table/eat/now/common/resolver/dto/UserRole.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/event/SendCreatedWaitingRequestEvent.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/event/WaitingRequestCreatedEvent.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/request/CreateWaitingRequestCommand.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/request/EnterWaitingRequestCommand.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/GetWaitingRequestInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestService.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingRequest.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/request/EnterWaitingRequestRequest.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/response/GetWaitingRequestResponse.java
  waiting/src/test/java/table/eat/now/waiting/helper/ControllerTestSupport.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/fixture/WaitingRequestFixture.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminControllerTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiControllerTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ✅ test

#119 [payment] 결제정보 조회 구현, 성공 이벤트 발송 구현
  docker-compose.yml
  payment/build.gradle
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentService.java
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentServiceImpl.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/PgClient.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/ReservationClient.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/CancelPgPaymentInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/ConfirmPgPaymentInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/GetReservationInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/response/GetPaymentInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/EventType.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/MapperUtil.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentEventPublisher.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentSuccessEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentSuccessPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/exception/PaymentErrorCode.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/PaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/DummyReservationClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/PgClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/ReservationClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/CancelTossPayResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/ConfirmTossPayResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/GetReservationResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/KafkaPaymentProducer.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/config/PaymentKafkaProducerConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/config/PaymentKafkaTopicConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/JpaPaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentApiController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/GetPaymentResponse.java
  payment/src/test/http/api.http
  payment/src/test/http/view.http
  payment/src/test/java/table/eat/now/payment/payment/application/PaymentServiceImplTest.java
  payment/src/test/java/table/eat/now/payment/payment/application/event/MapperUtilTest.java
  payment/src/test/java/table/eat/now/payment/payment/presentation/PaymentApiControllerTest.java
Labels: ✨ feat, ✅ test

#121 [notification] 알림 전송 처리 및 로직 작성
  notification/build.gradle
  notification/src/main/java/table/eat/now/notification/application/dto/request/CreateNotificationCommand.java
  notification/src/main/java/table/eat/now/notification/application/dto/request/NotificationSearchCommand.java
  notification/src/main/java/table/eat/now/notification/application/dto/request/UpdateNotificationCommand.java
  notification/src/main/java/table/eat/now/notification/application/dto/response/CreateNotificationInfo.java
  notification/src/main/java/table/eat/now/notification/application/dto/response/GetNotificationInfo.java
  notification/src/main/java/table/eat/now/notification/application/dto/response/NotificationSearchInfo.java
  notification/src/main/java/table/eat/now/notification/application/dto/response/UpdateNotificationInfo.java
  notification/src/main/java/table/eat/now/notification/application/exception/NotificationErrorCode.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationService.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationServiceImpl.java
  notification/src/main/java/table/eat/now/notification/application/strategy/NotificationFormatterStrategy.java
  notification/src/main/java/table/eat/now/notification/application/strategy/NotificationFormatterStrategySelector.java
  notification/src/main/java/table/eat/now/notification/application/strategy/NotificationParamExtractor.java
  notification/src/main/java/table/eat/now/notification/application/strategy/NotificationTemplate.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/CompletionFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/ConfirmCustomerFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/ConfirmOwnerFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/ConfirmWaitingFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/InfoWaitingFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/NoShowFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/Reminder1HrFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/Reminder9AmFormatter.java
  notification/src/main/java/table/eat/now/notification/application/strategy/send/EmailSender.java
  notification/src/main/java/table/eat/now/notification/application/strategy/send/NotificationSenderStrategy.java
  notification/src/main/java/table/eat/now/notification/application/strategy/send/NotificationSenderStrategySelector.java
  notification/src/main/java/table/eat/now/notification/application/strategy/send/SlackSender.java
  notification/src/main/java/table/eat/now/notification/domain/entity/Notification.java
  notification/src/main/java/table/eat/now/notification/domain/entity/NotificationType.java
  notification/src/main/java/table/eat/now/notification/domain/entity/vo/MessageParam.java
  notification/src/main/java/table/eat/now/notification/domain/repository/search/NotificationSearchCriteria.java
  notification/src/main/java/table/eat/now/notification/domain/repository/search/NotificationSearchCriteriaQuery.java
  notification/src/main/java/table/eat/now/notification/infrastructure/persistence/impl/JpaNotificationRepositoryCustomImpl.java
  notification/src/main/java/table/eat/now/notification/presentation/NotificationAdminController.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/request/CreateNotificationRequest.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/request/NotificationSearchCondition.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/request/UpdateNotificationRequest.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/response/CreateNotificationResponse.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/response/GetNotificationResponse.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/response/NotificationSearchResponse.java
  notification/src/main/java/table/eat/now/notification/presentation/dto/response/UpdateNotificationResponse.java
  notification/src/main/resources/application.yml
  notification/src/test/java/table/eat/now/notification/application/http/notification.http
  notification/src/test/java/table/eat/now/notification/application/service/NotificationServiceImplTest.java
  notification/src/test/java/table/eat/now/notification/presentation/NotificationAdminControllerTest.java
  promotion/build.gradle
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/config/RedisConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/dto/request/PromotionUserQuery.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/entity/PromotionUser.java
  promotion/src/main/resources/application.yml
Labels: ✨ feat, ✅ test

#126 [waiting] 대기 정보 도메인 및 조회 기능 구현, 대기 요청 리팩토링
  gateway/src/main/resources/application.yml
  waiting/src/main/java/table/eat/now/waiting/waiting/application/service/WaitingService.java
  waiting/src/main/java/table/eat/now/waiting/waiting/application/service/WaitingServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting/application/service/dto/response/GetDailyWaitingInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting/domain/entity/DailyWaiting.java
  waiting/src/main/java/table/eat/now/waiting/waiting/domain/repository/WaitingRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting/infrastructure/exception/WaitingInfraErrorCode.java
  waiting/src/main/java/table/eat/now/waiting/waiting/infrastructure/persistence/WaitingRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting/infrastructure/persistence/jpa/JpaWaitingRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting/presentation/WaitingInternalController.java
  waiting/src/main/java/table/eat/now/waiting/waiting/presentation/dto/response/GetDailyWaitingResponse.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/client/WaitingClient.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/GetDailyWaitingInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/exception/WaitingRequestErrorCode.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingStatus.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/WaitingClientImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/dto/response/GetDailyWaitingResponse.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/feign/WaitingFeignClient.java
  waiting/src/test/java/table/eat/now/waiting/waiting/application/service/WaitingServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting/presentation/WaitingInternalControllerTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ♻️ refactor, ✅ test

#128 [restaurant] 타임슬롯 현재 인원 변경
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/exception/RestaurantTimeSlotErrorCode.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantService.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/RestaurantTimeSlot.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/repository/RestaurantTimeSlotRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/JpaRestaurantTimeSlotRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/RestaurantInternalController.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceTest.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/presentation/RestaurantInternalControllerTest.java
Labels: ✨ feat, ♻️ refactor

#130 [payment] 예약취소 컨슈머 구현, 취소 이벤트발송
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentService.java
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentServiceImpl.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/PgClient.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/CancelPgPaymentCommand.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/request/CancelPaymentCommand.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentCanceledEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentCanceledPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentEventPublisher.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentFailedEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentFailedPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentSuccessEvent.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/Payment.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentStatus.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/PgClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/request/CancelTossPayRequest.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/KafkaPaymentProducer.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/PaymentEventListener.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/config/PaymentKafkaConsumerConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/config/PaymentKafkaProducerConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/EventType.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentFailedEvent.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentFailedPayload.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentSuccessEvent.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentSuccessPayload.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/ReservationCancelingEvent.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/ReservationCancelingPayload.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/interceptor/EventTypeHeaderInterceptor.java
  payment/src/test/http/api.http
  payment/src/test/java/table/eat/now/payment/payment/application/PaymentServiceImplTest.java
  payment/src/test/java/table/eat/now/payment/payment/application/event/MapperUtilTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentTest.java
Labels: ✨ feat, ✅ test

#141 [promotion] 카프카 설정 및 로직 구현
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/EventType.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/PromotionEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/PromotionEventPublisher.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/produce/PromotionUserSaveEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/produce/PromotionUserSavePayload.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/repository/PromotionRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/repository/event/ParticipateResult.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/repository/event/PromotionParticipantDto.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/PromotionRepositoryImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/KafkaPromotionProducer.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/PromotionEventListener.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/PromotionKafkaConsumerConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/PromotionKafkaProducerConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/PromotionKafkaTopicConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/dto/PromotionUserSaveEventQuery.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/dto/PromotionUserSavePayloadQuery.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/interceptor/EventTypeHeaderInterceptor.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionLuaScriptProvider.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/event/EventType.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/event/PromotionEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/event/dto/PromotionUserSaveEventInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/event/dto/PromotionUserSavePayloadInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/service/PromotionUserService.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/service/PromotionUserServiceImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/entity/PromotionUser.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/repository/PromotionUserRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/PromotionUserEventListener.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/config/PromotionUserKafkaConsumerConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/dto/PromotionUserSaveEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/dto/PromotionUserSavePayload.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/persistence/JpaPromotionUserRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/persistence/JpaPromotionUserRepositoryCustom.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/persistence/impl/JpaPromotionUserRepositoryCustomImpl.java
  promotion/src/main/resources/application.yml
  promotion/src/test/java/table/eat/now/promotion/helper/RedisTestContainerExtension.java
  promotion/src/test/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImplTest.java
  promotion/src/test/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImplTest.java
  promotion/src/test/java/table/eat/now/promotion/promotionuser/application/service/PromotionUserServiceImplTest.java
Labels: ✨ feat, ✅ test

#143 [payment] 결제 내역 조회 (유저,관리자)
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentService.java
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentServiceImpl.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/GetReservationInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/request/SearchMasterPaymentsQuery.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/request/SearchMyPaymentsQuery.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/response/PaginatedInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/response/SearchPaymentsInfo.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentStatus.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/PaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/search/PaginatedResult.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/search/SearchPaymentsCriteria.java
  payment/src/main/java/table/eat/now/payment/payment/domain/repository/search/SearchPaymentsResult.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/DummyReservationClientImpl.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/GetReservationResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/JpaPaymentRepository.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/JpaPaymentRepositoryCustom.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/persistence/JpaPaymentRepositoryCustomImpl.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentAdminController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/PaymentApiController.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/request/CreatePaymentRequest.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/request/SearchMasterPaymentsRequest.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/request/SearchMyPaymentsRequest.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/PaginatedResponse.java
  payment/src/main/java/table/eat/now/payment/payment/presentation/dto/response/SearchPaymentsResponse.java
  payment/src/test/http/api.http
  payment/src/test/java/table/eat/now/payment/payment/application/PaymentServiceImplTest.java
  payment/src/test/java/table/eat/now/payment/payment/presentation/PaymentAdminControllerTest.java
  payment/src/test/java/table/eat/now/payment/payment/presentation/PaymentApiControllerTest.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/JpaReviewRepositoryCustomImpl.java
Labels: ✨ feat, ✅ test

#147 [reservation] 예약 취소
  common/src/main/java/table/eat/now/common/domain/BaseEntity.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/exception/ReservationErrorCode.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/listener/CancelReservationEventListener.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/listener/event/CancelReservationAfterCommitEvent.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/DefaultReservationCancelPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationCancelPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationService.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationServiceImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/dto/request/CancelReservationCommand.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/dto/response/CancelReservationInfo.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/Reservation.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/entity/json/RestaurantTimeSlotDetails.java
  reservation/src/main/java/table/eat/now/reservation/reservation/domain/repository/ReservationRepository.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/persistence/JpaReservationRepository.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/persistence/ReservationRepositoryImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/ReservationApiController.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/dto/request/CancelReservationRequest.java
  reservation/src/main/java/table/eat/now/reservation/reservation/presentation/dto/response/CancelReservationResponse.java
  reservation/src/test/java/table/eat/now/reservation/global/IntegrationTestSupport.java
  reservation/src/test/java/table/eat/now/reservation/reservation/application/service/ReservationServiceTest.java
  reservation/src/test/java/table/eat/now/reservation/reservation/presentation/ReservationApiControllerTest.java
Labels: ✨ feat, ✅ test

#145 [waiting] 대기 미루기 기능 구현
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/request/CreateWaitingRequestCommand.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/event/dto/EventType.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/event/dto/WaitingRequestPostponedEvent.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/event/dto/WaitingRequestPostponedInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestService.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingRequest.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingRequestHistory.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingStatus.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/repository/WaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/WaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiController.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiControllerTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ✅ test

#153 [restaurant] 식당 수정
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/exception/RestaurantErrorCode.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/exception/RestaurantTimeSlotErrorCode.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantService.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/request/ModifyRestaurantCommand.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/response/ModifyRestaurantInfo.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/Restaurant.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/RestaurantMenu.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/RestaurantTimeSlot.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/repository/RestaurantRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/JpaRestaurantRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/RestaurantRepositoryImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/RestaurantAdminController.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/request/ModifyRestaurantRequest.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/response/ModifyRestaurantResponse.java
  restaurant/src/test/http/restaurant.http
  restaurant/src/test/java/table/eat/now/restaurant/global/fixture/RestaurantMenuFixture.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceTest.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/presentation/RestaurantAdminControllerTest.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/client/dto/response/GetRestaurantResponse.java
Labels: ✨ feat, ✅ test

#152 [review] 리뷰 평점 계산 및 이벤트 발송
  review/build.gradle
  review/src/main/java/table/eat/now/review/application/event/EventType.java
  review/src/main/java/table/eat/now/review/application/event/RestaurantRatingUpdateEvent.java
  review/src/main/java/table/eat/now/review/application/event/RestaurantRatingUpdatePayload.java
  review/src/main/java/table/eat/now/review/application/event/ReviewEvent.java
  review/src/main/java/table/eat/now/review/application/event/ReviewEventPublisher.java
  review/src/main/java/table/eat/now/review/application/scheduler/ReviewScheduler.java
  review/src/main/java/table/eat/now/review/application/service/ReviewServiceImpl.java
  review/src/main/java/table/eat/now/review/application/usecase/UpdateRestaurantRatingUseCase.java
  review/src/main/java/table/eat/now/review/domain/entity/Review.java
  review/src/main/java/table/eat/now/review/domain/repository/ReviewRepository.java
  review/src/main/java/table/eat/now/review/domain/repository/search/RestaurantRatingResult.java
  review/src/main/java/table/eat/now/review/infrastructure/kafka/KafkaReviewProducer.java
  review/src/main/java/table/eat/now/review/infrastructure/kafka/config/ReviewKafkaProducerConfig.java
  review/src/main/java/table/eat/now/review/infrastructure/kafka/config/ReviewKafkaTopicConfig.java
  review/src/main/java/table/eat/now/review/infrastructure/kafka/interceptor/EventTypeHeaderInterceptor.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/config/SchedulerConfig.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/jpa/JpaReviewRepository.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/jpa/JpaReviewRepositoryCustom.java
  review/src/main/java/table/eat/now/review/infrastructure/persistence/jpa/JpaReviewRepositoryCustomImpl.java
  review/src/main/resources/application-test.yml
  review/src/main/resources/application.yml
  review/src/test/java/table/eat/now/review/application/scheduler/ReviewSchedulerTest.java
  review/src/test/java/table/eat/now/review/application/usecase/UpdateRestaurantRatingUseCaseTest.java
  review/src/test/review.http
Labels: ✨ feat, ✅ test

#160 [promotion] 루아 스크립트 커맨트 패턴 및 Enum 정적 팩토리 메서드로 처리
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/repository/event/ParticipateResult.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/script/AddUserToPromotionCommand.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/script/PromotionLuaScriptProvider.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/script/RedisScriptCommand.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/script/RedisScriptCommandFactory.java
Labels: ♻️ refactor

#154 [waiting] 현재 대기 고객 목록 조회 기능 구현
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/PageResult.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestService.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/criteria/CurrentWaitingRequestCriteria.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/info/Paginated.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/repository/WaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/WaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/jpa/JpaWaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepository.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/redis/RedisWaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/response/GetWaitingRequestsResponse.java
  waiting/src/main/resources/properties/kafka.yml
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/fixture/GetWaitingRequestInfoFixture.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/fixture/WaitingRequestFixture.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminControllerTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ✅ test

#155 [notification] 알림 카프카 리스너 설정 및 테스트
  notification/src/main/java/table/eat/now/notification/application/event/EventType.java
  notification/src/main/java/table/eat/now/notification/application/event/NotificationEvent.java
  notification/src/main/java/table/eat/now/notification/application/event/dto/NotificationSendEvent.java
  notification/src/main/java/table/eat/now/notification/application/event/dto/NotificationSendPayload.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationService.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationServiceImpl.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/NotificationEventListener.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaConsumerConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaProducerConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaTopicConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/interceptor/EventTypeHeaderInterceptor.java
  notification/src/main/resources/application.yml
  notification/src/test/java/table/eat/now/notification/application/service/NotificationServiceImplTest.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImpl.java
Labels: ✨ feat, ✅ test

#162 [waiting] 대기 취소/ 상태 변화 / 내부 단건 조회 기능 구현
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/GetWaitingRequestInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/dto/response/PageResult.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/event/dto/WaitingRequestCreatedInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/event/dto/WaitingRequestPostponedInfo.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestService.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingRequest.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/domain/entity/WaitingStatus.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/persistence/WaitingRequestRepositoryImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestInternalController.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/response/GetWaitingRequestResponse.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/presentation/dto/response/GetWaitingRequestsResponse.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/fixture/GetWaitingRequestInfoFixture.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestAdminControllerTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestApiControllerTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/presentation/WaitingRequestInternalControllerTest.java
  waiting/src/test/waiting.http
Labels: ✨ feat, ✅ test

#166 [payment, review] 클라이언트 연동 수정 및 이벤트 페이로드 수정
  payment/src/main/java/table/eat/now/payment/PaymentApplication.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/config/FeignConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/GetReservationResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/feign/ReservationFeignClient.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/PaymentEventListener.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/config/PaymentKafkaConsumerConfig.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/EventType.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentFailedEvent.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentFailedPayload.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentSuccessEvent.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/PaymentSuccessPayload.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/ReservationCancelledPayload.java
  review/src/main/java/table/eat/now/review/application/scheduler/config/SchedulerConfig.java
  review/src/main/java/table/eat/now/review/infrastructure/client/DummyWaitingClientImpl.java
  review/src/main/java/table/eat/now/review/infrastructure/client/WaitingClientImpl.java
  review/src/main/java/table/eat/now/review/infrastructure/client/dto/response/GetWaitingRequestResponse.java
  review/src/main/java/table/eat/now/review/infrastructure/client/feign/WaitingFeignClient.java
Labels: ♻️ refactor

#171 [coupon] 쿠폰 선점 기능 수정
  coupon/build.gradle
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/redis/config/CouponRedisConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/aop/DistributedLockAspect.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/aop/annotation/DistributedLock.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/aop/dto/LockTime.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/request/PreemptUserCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/exception/UserCouponErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/usecase/ReleaseUserCouponUsecase.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/utils/CustomSpringELParser.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/utils/DistributedLockKeyGenerator.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/utils/LockProvider.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/utils/TransactionHelper.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/exception/UserCouponInfraErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jpa/JpaUserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/redis/RedissonLockProvider.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/redis/config/UserCouponRedisConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalController.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/dto/request/PreemptUserCouponRequest.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalControllerTest.java
  waiting/src/test/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImplTest.java
Labels: ♻️ refactor, ✅ test

#175 [payment] 결제 부분취소 구현
  payment/src/main/java/table/eat/now/payment/payment/application/PaymentServiceImpl.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/CancelPgPaymentCommand.java
  payment/src/main/java/table/eat/now/payment/payment/application/client/dto/CancelPgPaymentInfo.java
  payment/src/main/java/table/eat/now/payment/payment/application/dto/request/CancelPaymentCommand.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/PaymentEventPublisher.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentCancelledEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentCancelledPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentFailedEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentFailedPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentSucceedEvent.java
  payment/src/main/java/table/eat/now/payment/payment/application/event/ReservationPaymentSucceedPayload.java
  payment/src/main/java/table/eat/now/payment/payment/application/exception/PaymentErrorCode.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/CancelPayment.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/Payment.java
  payment/src/main/java/table/eat/now/payment/payment/domain/entity/PaymentAmount.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/request/CancelTossPayRequest.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/dto/response/CancelTossPayResponse.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/client/pg/TossPaymentClient.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/KafkaPaymentProducer.java
  payment/src/main/java/table/eat/now/payment/payment/infrastructure/kafka/event/ReservationCancelledPayload.java
  payment/src/main/resources/application.yml
  payment/src/test/http/api.http
  payment/src/test/http/view.http
  payment/src/test/java/table/eat/now/payment/payment/application/PaymentServiceImplTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentAmountTest.java
  payment/src/test/java/table/eat/now/payment/payment/domain/entity/PaymentTest.java
Labels: ✨ feat, ✅ test

#178 [coupon] 예약 취소 이벤트 처리 구현 및 데드레터큐 간단 구현
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCoupon.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/UserCouponKafkaEventListener.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponConsumerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponProducerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/EventType.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/KafkaCommonEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/ReservationCancelledEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/ReservationCancelledPayload.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/ReservationEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/interceptor/EventTypeHeaderInterceptor.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/spring/UserCouponSpringEventListener.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/spring/config/AsyncConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/spring/config/AsyncEventListenerExceptionHandler.java
  coupon/src/main/resources/application.yml
  coupon/src/main/resources/properties/kafka.yml
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/listener/UserCouponSpringEventListenerTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
Labels: ✨ feat, ✅ test

#177 [reservation] 예약 생성 및 취소 제약사항 컴포지트 패턴 적용
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/CouponClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/client/dto/request/PreemptCouponCommand.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/exception/ReservationErrorCode.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/DefaultReservationCancelPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationCancelPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/ReservationServiceImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/discount/DiscountStrategyFactory.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/ValidationComponent.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/context/CancelReservationValidationContext.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/context/CreateReservationValidationContext.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/discount/AbstractContextAwareDiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/discount/CouponDiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/discount/DiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/discount/DiscountStrategyFactory.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/discount/PromotionDiscountStrategy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/item/ValidCancelableTime.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/item/ValidItem.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/item/ValidPaymentDetails.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/item/ValidRestaurantAvailability.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/item/ValidTotalPrice.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/policy/CancelReservationValidationPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/policy/CreateReservationValidationPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/application/service/validation/policy/ValidPolicy.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/CouponClientImpl.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/CouponFeignClient.java
  reservation/src/main/java/table/eat/now/reservation/reservation/infrastructure/client/feign/dto/request/PreemptCouponRequest.java
  reservation/src/test/java/table/eat/now/reservation/reservation/application/service/ReservationServiceTest.java
Labels: ♻️ refactor

#181 [promotion] 프로모션 -> 쿠폰 이벤트 발행 단건으로 수정
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/produce/PromotionUserCouponSaveEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/produce/PromotionUserSavePayload.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImpl.java
  promotion/src/test/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImplTest.java
Labels: ♻️ refactor, ✅ test

#187 [common] 모듈별 테스트 수행하도록 개선
  .github/workflows/build.yml
  .github/workflows/pr-test.yml
  build.gradle
  common/src/main/java/table/eat/now/common/resolver/CurrentUserInfoResolver.java
  waiting/src/main/java/table/eat/now/waiting/waiting/application/service/WaitingServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/exception/WaitingRequestErrorCode.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
  waiting/src/main/java/table/eat/now/waiting/waiting_request/infrastructure/store/utils/TimeProvider.java
Labels: ♻️ refactor

#191 [review] 스케줄러 분산락 설정
  review/build.gradle
  review/src/main/java/table/eat/now/review/application/helper/LockExecutor.java
  review/src/main/java/table/eat/now/review/application/scheduler/ReviewScheduler.java
  review/src/main/java/table/eat/now/review/infrastructure/redis/DistributedLockExecutor.java
  review/src/main/java/table/eat/now/review/infrastructure/redis/config/RedissonConfig.java
  review/src/main/resources/application.yml
  review/src/test/java/table/eat/now/review/application/scheduler/ReviewSchedulerTest.java
  review/src/test/java/table/eat/now/review/application/service/ReviewServiceImplTest.java
  review/src/test/java/table/eat/now/review/application/usecase/UpdateRestaurantRatingUseCaseTest.java
  review/src/test/java/table/eat/now/review/helper/IntegrationTestSupport.java
  review/src/test/java/table/eat/now/review/helper/RedisTestContainerExtension.java
Labels: ✨ feat, ✅ test

#192 [notification] 알림 Db폴링방식 레디스 딜레이큐, 카프카로 변경 및 성능 테스트
  notification/build.gradle
  notification/src/main/java/table/eat/now/notification/application/event/EventType.java
  notification/src/main/java/table/eat/now/notification/application/event/NotificationEventPublisher.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationScheduleSendEvent.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationScheduleSendPayload.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationSendEvent.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationSendPayload.java
  notification/src/main/java/table/eat/now/notification/application/metric/NotificationMetrics.java
  notification/src/main/java/table/eat/now/notification/application/schedule/NotificationDelayQueueScheduler.java
  notification/src/main/java/table/eat/now/notification/application/schedule/NotificationScheduler.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationService.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationServiceImpl.java
  notification/src/main/java/table/eat/now/notification/application/strategy/NotificationParamExtractor.java
  notification/src/main/java/table/eat/now/notification/domain/repository/NotificationRepository.java
  notification/src/main/java/table/eat/now/notification/infrastructure/NotificationRepositoryImpl.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/KafkaNotificationProducer.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/NotificationEventListener.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaConsumerConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/persistence/JpaNotificationRepository.java
  notification/src/main/java/table/eat/now/notification/infrastructure/persistence/config/RedisConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/persistence/config/RedisLuaScriptConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/redis/NotificationRedisRepository.java
  notification/src/main/java/table/eat/now/notification/infrastructure/redis/NotificationRedisRepositoryImpl.java
  notification/src/main/resources/application.yml
  notification/src/test/java/table/eat/now/notification/application/metric/NotificationMetricsTest.java
  notification/src/test/java/table/eat/now/notification/application/schedule/NotificationDelayQueueSchedulerTest.java
  notification/src/test/java/table/eat/now/notification/application/schedule/NotificationSchedulerTest.java
  notification/src/test/java/table/eat/now/notification/application/service/NotificationServiceImplTest.java
Labels: ✨ feat, ♻️ refactor, ✅ test

#196 [coupon]프로모션 쿠폰 발급 이벤트 리스너 기본 구현
  .gitignore
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/request/CreateCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/request/UpdateCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/AvailableCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponsInfoI.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/SearchCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/command/UpdateCoupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/CouponLabel.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/CouponType.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/CreateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/UpdateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/AvailableCouponsResponse.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponResponse.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponsResponseI.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/SearchCouponsResponse.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/usecase/IssuePromotionUserCouponUsecase.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/entity/UserCoupon.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/store/UserCouponStore.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/UserCouponKafkaEventListener.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponConsumerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponProducerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/CommonEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/EventType.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/PromotionEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/PromotionParticipatedCouponEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/PromotionParticipatedPayload.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/ReservationEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/interceptor/EventTypeHeaderInterceptor.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jdbc/JdbcUserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jpa/JpaEmUserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/store/UserCouponStoreImpl.java
  coupon/src/main/resources/application.yml
  coupon/src/main/resources/db/schema.sql
  coupon/src/main/resources/properties/datasource.yml
  coupon/src/main/resources/properties/jpa.yml
  coupon/src/main/resources/properties/monitoring.yml
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/NoDuplicateWithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/WithStockStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/fixture/CouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/helper/IntegrationTestSupport.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/usecase/IssuePromotionUserCouponUsecaseTest.java
  docker-compose.yml
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/EventType.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/produce/PromotionUserCouponSaveEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/KafkaPromotionProducer.java
Labels: ✨ feat, ✅ test

#199 [coupon]쿠폰 발급 전략 리졸버 추가 및 쿠폰 도메인 일부 수정 + 소나큐브 깃헙액션 수정 및 테스트
  .github/workflows/pr-test.yml
  .gitignore
  build.gradle
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/event/IssueUserCouponEvent.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/request/CreateCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/request/UpdateCouponCommand.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/AvailableCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/GetCouponsInfoI.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/dto/response/SearchCouponInfo.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/exception/CouponErrorCode.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/CouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/CouponIssueStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueGeneralStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueLimitedHotStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueLimitedNonDupHotStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueNonDupHotStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueStrategy.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueStrategyAlias.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueStrategyKey.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/service/strategy/IssueStrategyResolver.java
  coupon/src/main/java/table/eat/now/coupon/coupon/application/usecase/PrepareCouponIssuanceUsecase.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/command/UpdateCoupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/AvailablePeriod.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/Coupon.java
  coupon/src/main/java/table/eat/now/coupon/coupon/domain/entity/CouponLabel.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/CouponRepositoryCustomImpl.java
  coupon/src/main/java/table/eat/now/coupon/coupon/infrastructure/persistence/jpa/JpaCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponAdminController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/CouponApiController.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/CreateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/request/UpdateCouponRequest.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/AvailableCouponsResponse.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponResponse.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponsResponseI.java
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/SearchCouponsResponse.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponConsumerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/config/UserCouponProducerConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/CommonEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/PromotionParticipatedCouponEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/dto/ReservationCancelledEvent.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/messaging/kafka/interceptor/EventTypeHeaderInterceptor.java
  coupon/src/main/resources/db/alter.sql
  coupon/src/main/resources/properties/datasource.yml
  coupon/src/main/resources/properties/jpa.yml
  coupon/src/main/resources/properties/monitoring.yml
  coupon/src/test/java/table/eat/now/coupon/coupon/application/scheduler/CouponSchedulerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/CouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/IssueGeneralStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/IssueLimitedHotStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/IssueLimitedNonDupHotStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/IssueNonDupHotStrategyTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/service/strategy/IssueStrategyResolverTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/application/usecase/PrepareCouponIssuanceUsecaseTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/fixture/CouponFixture.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponAdminControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponInternalControllerTest.java
  server/build.gradle
  server/src/main/resources/prometheus.yml
  waiting/src/main/java/table/eat/now/waiting/waiting_request/application/service/WaitingRequestServiceImpl.java
Labels: ✨ feat, ✅ test

#203 [coupon] 내부 사용자 쿠폰 목록 조회 api 구현
  coupon/src/main/java/table/eat/now/coupon/coupon/presentation/dto/response/GetCouponsResponseI.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/client/CouponClient.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/client/dto/response/GetCouponInfoI.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/dto/response/GetUserCouponInfoI.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponService.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/domain/repository/UserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/CouponClientImpl.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/feign/CouponFeignClient.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/feign/config/FeignConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/feign/config/InternalFeignClientErrorDecoder.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/feign/config/InternalFeignConfig.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/client/feign/dto/response/GetCouponsFeignResponse.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/infrastructure/persistence/jpa/JpaUserCouponRepository.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalController.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/dto/response/GetUserCouponsResponse.java
  coupon/src/main/java/table/eat/now/coupon/user_coupon/presentation/dto/response/GetUserCouponsResponseI.java
  coupon/src/test/coupon.http
  coupon/src/test/java/table/eat/now/coupon/coupon/presentation/CouponInternalControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/application/service/UserCouponServiceImplTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/presentation/UserCouponApiControllerTest.java
  coupon/src/test/java/table/eat/now/coupon/user_coupon/presentation/UserCouponInternalControllerTest.java
  docker-compose.yml
Labels: ✨ feat, ✅ test

#205 [promotion] 카프카 lag 지표 생성 및 프로모션 참여자 수 컬럼 추가
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/request/CreatePromotionCommand.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/request/UpdatePromotionCommand.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/response/CreatePromotionInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/response/GetPromotionInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/response/SearchPromotionInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/dto/response/UpdatePromotionInfo.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/service/util/MaxParticipate.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/Promotion.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/repository/search/PromotionSearchCriteriaQuery.java
  promotion/src/main/java/table/eat/now/promotion/promotion/domain/entity/vo/MaxParticipant.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/KafkaPromotionProducer.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/KafkaMonitoringConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/monitor/KafkaLagMonitor.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/monitor/KafkaMonitoringComponent.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/metric/KafkaPublisherMetric.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/request/CreatePromotionRequest.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/request/UpdatePromotionRequest.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/response/CreatePromotionResponse.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/response/GetPromotionResponse.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/response/SearchPromotionResponse.java
  promotion/src/main/java/table/eat/now/promotion/promotion/presentation/dto/response/UpdatePromotionResponse.java
  promotion/src/test/java/table/eat/now/promotion/http/promotion.http
  promotion/src/test/java/table/eat/now/promotion/promotion/application/scheduler/PromotionSchedulerTest.java
  promotion/src/test/java/table/eat/now/promotion/promotion/application/service/PromotionServiceImplTest.java
  promotion/src/test/java/table/eat/now/promotion/promotion/presentation/PromotionAdminControllerTest.java
  promotion/src/test/java/table/eat/now/promotion/promotion/presentation/PromotionControllerTest.java
Labels: ✨ feat, ♻️ refactor

#206 [restaurant] 내부 목록 조회
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantService.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/request/GetRestaurantsCriteria.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/response/PaginatedInfo.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/application/service/dto/response/SearchRestaurantsInfo.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/dto/response/Paginated.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/entity/Restaurant.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/domain/repository/RestaurantRepository.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/RestaurantRepositoryCustom.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/RestaurantRepositoryCustomImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/RestaurantRepositoryImpl.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/infrastructure/persistence/condition/RestaurantSearchCondition.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/RestaurantInternalController.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/request/SearchRestaurantsRequest.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/response/PaginatedResponse.java
  restaurant/src/main/java/table/eat/now/restaurant/restaurant/presentation/dto/response/SearchRestaurantsResponse.java
  restaurant/src/test/http/restaurant.http
  restaurant/src/test/java/table/eat/now/restaurant/global/fixture/RestaurantFixture.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/application/service/RestaurantServiceTest.java
  restaurant/src/test/java/table/eat/now/restaurant/restaurant/presentation/RestaurantInternalControllerTest.java
Labels: ✨ feat, ✅ test

#212 [config] sonarqube push test yml 추가
  .github/workflows/push-test.yml
Labels: ⚙️ setting

#221 [common] 깃헙 액션 추가
  .github/workflows/ci.yml
  coupon/Dockerfile
  gateway/Dockerfile
  notification/Dockerfile
  payment/Dockerfile
  promotion/Dockerfile
  reservation/Dockerfile
  restaurant/Dockerfile
  review/Dockerfile
  server/Dockerfile
  user/Dockerfile
  waiting/Dockerfile
Labels: 🌎 deploy, ⚙️ setting, ✅ test

#217 [promotion, notification] promotionUser 아웃박스 Db polling 방식 구현
  notification/Dockerfile
  notification/src/main/java/table/eat/now/notification/application/config/MailConfig.java
  notification/src/main/java/table/eat/now/notification/application/event/EventType.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationPromotionEvent.java
  notification/src/main/java/table/eat/now/notification/application/event/produce/NotificationPromotionPayload.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationService.java
  notification/src/main/java/table/eat/now/notification/application/service/NotificationServiceImpl.java
  notification/src/main/java/table/eat/now/notification/application/strategy/message/formatter/PromotionParticipateFormatter.java
  notification/src/main/java/table/eat/now/notification/domain/entity/NotificationType.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/NotificationEventListener.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaConsumerConfig.java
  notification/src/main/java/table/eat/now/notification/infrastructure/kafka/config/NotificationKafkaProducerConfig.java
  notification/src/main/resources/application.yml
  notification/src/test/java/table/eat/now/notification/application/service/NotificationServiceImplTest.java
  promotion/src/main/java/table/eat/now/promotion/promotion/application/event/EventType.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/PromotionKafkaProducerConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotion/infrastructure/kafka/config/PromotionKafkaTopicConfig.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/application/event/EventType.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/outbox/entity/OutboxStatus.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/outbox/entity/PromotionUserOutbox.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/domain/outbox/repository/PromotionUserOutboxRepository.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/PromotionUserKafkaOutboxScheduler.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/dto/PromotionSendEvent.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/kafka/dto/PromotionSendPayload.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/persistence/impl/JpaPromotionUserRepositoryCustomImpl.java
  promotion/src/main/java/table/eat/now/promotion/promotionuser/infrastructure/persistence/outbox/JpaPromotionUserOutboxRepository.java
  promotion/src/test/java/table/eat/now/promotion/http/promotion.http
  promotion/src/test/java/table/eat/now/promotion/promotion/infrastructure/redis/PromotionRedisRepositoryImplTest.java
Labels: ✨ feat, ✅ test

#226 [common] 이미지 빌드 및 빈스톡 배포
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  coupon/docker-compose.yml
  payment/docker-compose.yml
  review/docker-compose.yml
Labels: 🌎 deploy, ♻️ refactor, ⚙️ setting, ✅ test
